* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.banner {
    width: 100%;
    height: 50hv;
    background-image: linear-gradient(#a85c32(0,0,0,0,40), );
    background-position: center;
    background-size: center;
}
.navbar {
    width: 100%;
    padding: 50px;
    margin: auto;
    display: contents;
    align-items: center;
    justify-content: space-between;

}
.logo {
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
}
.logo1 {
    width: 100px;
    margin-top: 20px;
    cursor: pointer;
    position: fixed;
}
.navbar ul li {
    list-style: none;
    display: contents;
    margin: 20px;
}
.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #07544f;
    font-weight: 50;
    padding: 15px;
    margin-right: 10px;
    position: center;
}
li a:hover {
    background: #a85c32;
    background: #07544f;
}
.content {
    width: 50%;
    position: relative;
    color:#07544f;
    top: 45%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1 {
    margin-top: 80px;
    font-size: 50px;
    font-weight: 150px;
    text-align: center;
}
button {
    padding: 15px;
    margin: 20px 5px;
    text-align: left;
    border-radius: 25px;
    color: black;
    border: 2px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
}
button:hover {
    background: #268740 (0, 155, 226);
    transition: 0.10s;
}
button:hover {
    color: #4d2f0e;
}
.banner video {
   width: 100%;
    height: 50hv;
    background-image: linear-gradient(#a85c32(0,0,0,0,40), );
    background-position: center;
    background-size: contain;
}
@media(min-aspect-ratio: 16/9){
    .banner video{
        width: 50%;
        height: auto;
    }
}

h3 {
    color: #07544f;
}
h1 {
    color: #07544f;
}
 body {
    margin: 0;
    font-family: arial, sans-serif;
    background-color: rgb(239, 160, 250);
}